// Susy grid
// See https://gist.github.com/liuwen-lvtu/1294530
// And http://susy.oddbird.net/guides/reference/

@import "susy";

// Elastic grid as percentages
$total-columns  : 12;
$column-width   : 6%;
$gutter-width   : 2%;
$grid-padding   : 1%;

$container-style: magic;
$container-width: 50em;

$break          : 12;

.container {
  @include container($total-columns, $break);
  @include susy-grid-background;
}